.content-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

a.link-invert {
  color: $secondary-color;
  &:hover {
    color: $primary-color;
  }
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clear {
  clear: both;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}