.nav-previous, .nav-next {
  font-size: 2em;
}

.breadcrumbs {
  background-color: #eee;
  border-color: #ddd;
  display: inline-block;
}

// Forms
.gform_wrapper {
  input, textarea, select {
    // Don't hit submit buttons
    &:not([type="submit"]) {
      font-size: 14px !important;
      padding: 5px !important;
    }
  }
}

// Generator
.generator-confirm {
  text-align: center;
}