// Default body font
$body-font-color: #222;
$body-font-family: 'Open Sans', sans-serif;;

// Default colors
$primary-color: #0074a2;
$secondary-color: #222;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;