#blog-sidebar {
  word-wrap: break-word;

  ul {
    font-size: 1em;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .widgettitle {
    font-size:1.4em;
  }

  .widget {
    margin-bottom: 20px;
  }
}